meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Comunidad étnica, entorno socio ambiental y normativo
meta(meta name="description" content="Se hace necesario que en todo proceso de intervención de acciones en comunidades étnicas inicialmente se reconozca las características y aspectos de la organización, cosmovisión, interacción y modo de vivir de cada comunidad, a través de la consulta de la normatividad, selección de instrumentos y técnicas aplicados para el proceso de investigación del grupo étnico.")
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")