h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li
                span 220201098-01. Caracterizar comunidad étnica según entorno socio ambiental y normativa.