.container#intro

    .header-ecored
        h1 1. Introducción
    
    .card.shadow
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Ib3RvrBlEsA', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .card-body
            .card-text
                p En el marco del enfoque diferencial étnico el estado colombiano contempla acciones de inclusión social y política que permitan el reconocimiento y garantía de los derechos individuales y colectivos de todos los grupos étnicos.  
                p.mt-4 Con el fin de preservar la cultura e identidad étnica de los grupos, se hace necesario que las intervenciones que se lleven a cabo en estas comunidades, estén concertadas de modo que garanticen la pertinencia, gobernabilidad y respeto a la cosmovisión alineados con el marco legal y los instrumentos de planificación de cada grupo, logrando concertar acciones de manera armónica y pacífica. 
                p.mt-4 Este componente formativo pretende identificar aspectos normativos, socioambientales y apropiar técnicas e instrumentos de caracterización que permita la interpretación y análisis de los medios de interacción de la comunidad con el medio ambiente.

